<div class="shop-body">
  <div class="pl-2">
    <h1>Microtransactions baby</h1>
  </div>
  <div class="flex flex-row">
    <div class="col hat-list">
      <div class="grid">
        <div class="col-fixed" *ngFor="let hat of hatList">
          <p-card [header]="hat.name" [subheader]="hat.description" [style]="{ width: '300px' }">
            <ng-template pTemplate="header">
              <img alt="hat-preview" src='assets/images/shop-previews/{{hat.fileName}}.png' />
            </ng-template>
            <ng-template pTemplate="content">
              <p-button icon="pi pi-search"></p-button>
              <p-button [label]="hat.price" icon="pi pi-cart-plus" styleClass="p-button-secondary"
                [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
          </p-card>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="engine-wrapper">
        <canvas #rendererCanvas id="renderCanvas"></canvas>
      </div>
    </div>
  </div>
</div>